<div class="lessons-list">
  <mat-card>
    <ng-template #noLessons>
      <h3>Расписание не найдено</h3>
    </ng-template>

    <div *ngIf="lessons.length > 0; else noLessons">
      <h3>Расписание</h3>
      <table mat-table [dataSource]="lessons" class="table">
        <ng-container matColumnDef="num">
          <th mat-header-cell *matHeaderCellDef>№</th>
          <td mat-cell *matCellDef="let lesson">
            {{ lesson.num }}
          </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Предмет</th>
          <td mat-cell *matCellDef="let lesson">{{ lesson.title }}</td>
        </ng-container>

        <ng-container matColumnDef="teachername">
          <th mat-header-cell *matHeaderCellDef>Преподаватель</th>
          <td mat-cell *matCellDef="let lesson">{{ lesson.teachername }}</td>
        </ng-container>

        <ng-container matColumnDef="cab">
          <th mat-header-cell *matHeaderCellDef>Кабинет</th>
          <td mat-cell *matCellDef="let lesson">{{ lesson.cab }}</td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="['num', 'title', 'teachername', 'cab']"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['num', 'title', 'teachername', 'cab']"
        ></tr>
      </table>
    </div>
  </mat-card>
</div>
