<div class="schedule" *ngIf="error || schedule">
  <!-- <mat-card @fadeInOut *ngIf="error">
    <mat-card-title style="text-align: center">
      {{ error }}
    </mat-card-title>
  </mat-card> -->
  <mat-card [@dataChanged]="schedule">
    <div class="schedule__info">
      <mat-card-title>{{ schedule ? "Расписание" : error }}</mat-card-title>
      <mat-card-subtitle *ngIf="schedule" class="schedule__date">
        {{ schedule.date | date: "shortDate" }}
      </mat-card-subtitle>
    </div>

    <div *ngIf="schedule">
      <table mat-table [dataSource]="schedule.lessons" class="table">
        <ng-container matColumnDef="num">
          <th mat-header-cell *matHeaderCellDef>№</th>
          <td mat-cell *matCellDef="let lesson">
            {{ lesson.num.split("\n")[0] }}
            <br />
            {{ lesson.num.split("\n")[1] }}
          </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Предмет</th>
          <td mat-cell *matCellDef="let lesson">
            <strong>{{ lesson.title }}</strong>
            <br />
            {{ lesson.teachername }}
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="teachername">
          <th mat-header-cell *matHeaderCellDef>Преподаватель</th>
          <td mat-cell *matCellDef="let lesson">{{ lesson.teachername }}</td>
        </ng-container> -->

        <ng-container matColumnDef="cab">
          <th mat-header-cell *matHeaderCellDef>Кабинет</th>
          <td mat-cell *matCellDef="let lesson">{{ lesson.cab }}</td>
        </ng-container>

        <!-- <tr
          mat-header-row
          *matHeaderRowDef="['num', 'title', 'teachername', 'cab']"
        ></tr> -->
        <tr mat-row *matRowDef="let row; columns: ['num', 'title', 'cab']"></tr>
      </table>
    </div>
  </mat-card>
</div>
