.schedule {
  min-width: 600px;
  max-width: 750px;
  margin: 0 5px;
}

.schedule h3 {
  text-align: center;
  margin: 0;
}

.schedule__info * {
  margin: 0;
  padding: 0;
}

.schedule__info {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.schedule__date {
  position: absolute;
  right: 0;
}

.table {
  width: 100%;
  margin: 10px auto;
  overflow: auto;
}

.table .mat-column-num,
.table .mat-column-cab {
  text-align: center;
}

.table td.mat-cell,
.table th.mat-header-cell {
  padding: 0 10px;
}

@media (max-width: 600px) {
  .schedule {
    min-width: 300px;
    margin: 0;
  }
}
