.schedule {
  margin: auto;
}

.schedule h3 {
  margin: 0;
}

.schedule__info * {
  text-align: center;
  margin: 0;
  padding: 0;
}

.schedule__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.table {
  width: 75%;
  margin: 10px auto;
}

.table .mat-column-num,
.table .mat-column-cab {
  text-align: center;
}

.table td.mat-cell,
.table th.mat-header-cell {
  padding: 0 10px;
}

@media (max-width: 500px) {
  .schedule {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .table {
    width: 100%;
  }
}
