<div class="lessons-load-menu">
  <mat-card>
    <form class="lessons-load-menu__form" (submit)="onLoadSchedule()">
      <mat-form-field>
        <mat-label>Группа</mat-label>
        <input
          type="text"
          matInput
          [matAutocomplete]="auto"
          [(ngModel)]="groupName"
          name="name"
          (ngModelChange)="onGroupNamesChange($event)"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredGroupsNames"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Дата</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [(ngModel)]="date"
          name="date"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker touchUi></mat-datepicker>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="isLoading"
      >
        Загрузить
      </button>
    </form>
    <mat-card-footer>
      <mat-progress-bar
        *ngIf="isLoading"
        mode="indeterminate"
      ></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
