.lessons-load-menu {
  width: 350px;
  margin-bottom: 15px;
}

.lessons-load-menu__content > * {
  width: 100%;
}

.lessons-load-menu__date {
  border: 1px solid #ddd;
  border-radius: 4px;
}

@media (max-width: 500px) {
  .lessons-load-menu {
    width: 100vw;
  }
}
