<div class="lessons-load-menu">
  <mat-card>
    <mat-form-field appearance="outline">
      <mat-label>Group name</mat-label>
      <input
        #groupNameInput
        type="text"
        matInput
        [(ngModel)]="groupName"
        (ngModelChange)="onGroupNamesChange($event)"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredGroupsNames" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="date" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onLoadSchedule()">
      Load
    </button>
  </mat-card>
</div>
