.lessons-load-menu {
  max-width: 300px;
  margin: 0 5px;
  margin-bottom: 15px;
}

.lessons-load-menu .mat-form-field,
.lessons-load-menu button {
  width: 100%;
}

.lessons-load-menu__form {
  margin-bottom: 10px;
}
