<div class="lessons-load-menu">
  <mat-form-field class="lessons-load-menu__group">
    <mat-label>{{
      groups.length ? "Выберите группу" : "Загрузка групп..."
    }}</mat-label>
    <mat-select
      [(value)]="selectedGroupId"
      (valueChange)="LoadSchedule()"
      required
    >
      <mat-option *ngFor="let group of groups" [value]="group.id">
        {{ group.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-calendar
    class="lessons-load-menu__calendar"
    [(selected)]="selectedDate"
    (selectedChange)="LoadSchedule()"
  ></mat-calendar>
</div>
