.container {
  margin: 0 auto;
  padding: 16px;
}

hr {
  margin: 10px auto;
  background-color: #eee;
  border: none;
  height: 1px;
}

@media (max-width: 500px) {
  .container {
    margin: 0;
    padding: 8px;
  }

  hr {
    background-color: transparent;
  }
}
