.container {
  margin: 0 auto;
}

hr {
  height: 0%;
  width: 100vw;
  margin: 10px auto;
  border: 0;
  border-top: 1px solid #ddd;
}

@media (max-width: 500px) {
  .content {
    margin: 0;
    padding: 8px;
  }

  hr {
    width: 0;
  }
}
