.container {
  margin: 0 auto;
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

hr {
  margin: 10px auto;
  background-color: #eee;
  border: none;
  height: 1px;
}

@media (max-width: 1000px) {
  .container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .container {
    margin: 0;
    padding: 8px;

    grid-template-columns: 1fr;
  }

  hr {
    background-color: transparent;
  }
}
