<div class="schedule" *ngIf="error || schedule">
  <div [@jumpIn]="state">
    <div class="schedule__info">
      <mat-card-title>{{ schedule ? "Расписание" : error }}</mat-card-title>
      <mat-card-subtitle *ngIf="schedule" class="schedule__date">
        {{ schedule.date | date: "longDate":"":"ru" }}
      </mat-card-subtitle>
    </div>

    <div *ngIf="schedule" style="overflow: auto">
      <table class="table">
        <tr *ngFor="let lesson of schedule.lessons" class="table__row">
          <td>
            <div>
              {{ lesson.num.split("\n")[0] }}
            </div>
            <div>
              {{ lesson.num.split("\n")[1] }}
            </div>
          </td>
          <td>
            <div style="padding-bottom: 4px; font-weight: 500">
              {{ lesson.title }}
            </div>
            <div>{{ lesson.teachername }}</div>
          </td>
          <td>{{ lesson.cab }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
